@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --couleur-fond: white;
    --couleur-texte: lightsmoke;
    --famille-police: "IBM Plex Mono", Arial, sans-serif;
    --couleur-bordure: coral;
}
/* Initialisation des styles de base dans le corps du site */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.barre-navigation {
    background-color: darkgrey;
    top: auto;
}

.barre-navigation ul li {
    padding: 25px;
    line-height: 50%;
}
ul {
    list-style-type: none;
    display: flex;
    top: auto;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.barre-navigation ul li a {
    text-decoration: none;
    color: var(--couleur-texte);
    font-family: var(--famille-police), sans-serif;
    font-size: large;
    font-weight:bold;
    cursor: pointer;
}
.barre-navigation ul li a:hover {
    color:blue;
    border-bottom: 3px solid blue;
}

.barre-navigation .hamburger {
    display: none;
    color: black;
    font-size: 40px;
}
input {
    display: none;
}
/* Initialisation d'un grid pour les trois missions */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* 'gap' replaces 'grid-gap' */
  grid-auto-rows: minmax(100px, auto);
}

.mission1-container, .mission2-container, .mission3-container {
    padding: 10px;


}
.mission1-container {
  grid-column: 1;
  grid-row: 1;
  background-color: var(--couleur-bordure);
  border-radius: 15px;
  padding: 10px;
}

.mission2-container {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--couleur-bordure);
  border-radius: 15px;
  padding: 10px;
}

.mission3-container {
  grid-column: 3;
  grid-row: 1;
  background-color: var(--couleur-bordure);
  border-radius: 15px;
  padding: 10px;
}


/* Initialisation des medias queries pour les différents écrans */
@media screen and (max-width: 792px) {
    .barre-navigation {
        display: flex;
        justify-content: flex-start; /* Changed from space-evenly */
        flex-direction: column;
        padding: 10px 0; /* Add controlled padding instead */
    }
    .barre-navigation ul {
        position: relative;
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .barre-navigation .hamburger {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        margin: 10px 0 10px 20px;
    }
    .barre-navigation li a {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .barre-navigation #enable:checked ~  ul {
        display: flex;
    }
}
