@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --couleur-fond: #white;
    --couleur-texte: lightsmoke;
    --famille-police: "IBM Plex Mono", Arial, sans-serif;
}
/* Initialisation des styles de base dans le corps du site */
body {
    margin: 0;
    padding: 0;
    background-color: var(--couleur-fond);
}

.barre-navigation {
    background-color: gray;
    top: auto;
}

.barre-navigation ul li {
    padding: 15px;
    width: 20%;
}
ul {
    list-style-type: none;
    display: flex;
    top: auto;
    justify-content: space-evenly;
    margin: 0; 
    padding: 0  ;
}

.barre-navigation ul li a {
    text-decoration: none;
    color: var(--couleur-texte);
    font-family: var(--famille-police);
    font-size: large;
    font-weight:bold;
}
.barre-navigation ul li a:hover {
    color:blue;
    border-bottom: 3px solid blue;
}


/* Initialisation des medias queries pour les différents écrans */
@media screen and (max-width: 792px) {
    .barre-navigation ul {
        flex-direction: column;
        align-items: center;
    }
}
