/* On importe une police de texte */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* Initialisation de variables couleur dans la pseudo classe root */
:root {
    --couleur-fond: #f5f5f5;
    --couleur-texte: #1c1c1c;
    --famille-police-titre: "IBM Plex Mono", Arial, sans-serif;
    --couleur-bordure: #ffb29b;
}

/* Initialisation des styles de base dans le corps du site */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
}
/* Paramètres pour la page de navigation, universel à l'ensemble des pages web */
.barre-navigation {
    background-color: #3e4855;
    top: auto;
}

.barre-navigation ul li {
    padding: 30px;
    line-height: 50%;
}

ul {
    list-style-type: none;
    display: flex;
    top: auto;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.barre-navigation ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: var(--famille-police-titre), sans-serif; /* Appel de la variable pour régler une police de texte */
    font-size: large;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

/* On ajoute une propriété pour animer une ligne en dessous des éléments de la navbar lors du survol. */
.barre-navigation ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: -10px;
    height: 3px;
    background-color: #8585ad;
    transition: 0.3s; /* On applique un effet de fade in de 3 millisecondes */

}
.barre-navigation ul li a:hover::after {
    width: 100%;
}

.barre-navigation .hamburger {
    display: none;
    color: #ffffff;
    font-size: 40px;
}

input {
    display: none;
}


/* Initialisation d'un grid pour les trois missions dans la page index */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.container1, .container2, .container3 {
    padding: 10px;
    background-color: #ffe1d6;
    border-radius: 15px;
    text-decoration: none;

}
.container a {
    position: relative;
    text-decoration: none;
    color: black;
}
/*Ajout d'un effet de survol pour les titres dans le grid */
.container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #8585ad;
    transition: width 0.3s ease;
}


.container1 {
    grid-column: 1;
    grid-row: 1;
}

.container2 {
    grid-column: 2;
    grid-row: 1;
}

.container3 {
    grid-column: 3;
    grid-row: 1;
}

.container a:hover::after {
    width: 100%;
    cursor: pointer;
}
.footer {
    margin-top: 40px;
    padding: 20px 0;
    width: 20%;
    height: 20%;
}
/* Initialisation des medias queries pour les écrans mobile */
@media screen and (max-width: 792px) {
    /* Paramètres pour adapter la barre de navigation aux écrans mobile */
    body {
        font-size: 1.1rem;
    }

    .barre-navigation {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .barre-navigation ul {
        position: relative;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .barre-navigation .hamburger {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        margin: 10px 0 10px 20px;
    }

    .barre-navigation li a {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .barre-navigation #enable:checked ~ ul {
        display: flex;
    }

    .container {
        display: block;
    }

    .container1, .container2, .container3 {
        margin-top: 10px;
        font-size: 1rem;
    }

    .footer {
        width: 50%;
        height: 20%;
        margin-top: 40px;
    }
}


/* styles pour la page mission */
#mission1, #mission2, #mission3 {
    font-size: 1.2rem;
}
/* STYLES POUR LA PAGE OUTILS */


.img-container1,.img-container3 {
    width: 5%;
    height: 5%;
}
.img-container2{
    width: 15%;
    height: 15%;
}
